@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

html {
  /* font-size: 62.5%; */
  box-sizing: border-box;
}
body, 
#root {
  height: 100%;
  margin: 0;
}
body, input, select, textarea, button {
  font-size: 1.6rem;
  font-family: 'Lato', 'Montserrat', Helvetica, Arial, sans-serif;
}

header a {
  color: #fff;
  text-decoration: none;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  padding: 0;
  list-style-type: none;
  width: 100%;
}
.form-container li {
  display: flex;
  flex-direction: column;
  padding: .6rem 1rem;
}

/* Product Details */
.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}
.product-details img {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto
}
.product-details-description {
  flex: 1 1;
  margin: 1rem;
}

/* Order Details */
.order-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.order-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-details li div {
  padding: 10px;
}
.order-details .items {
  text-align: right;
  padding: 0;
}
.success-message {
  color: green;
}

/* Orders */
.orders {
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
}
tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}
td {
  padding: 1rem;
}
th {
  text-align: left; 
}

.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: papayawhip;
}